<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= productToShow.title %> </h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<!-- <a href="<%= productToShow.photo %>" data-lightbox="image-1"><img src="<%= productToShow.photo %>" alt="product image" class="product-detail-img"></a> -->
					<img src="<%= productToShow.photo %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= productToShow.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= productToShow.title %></h2>
							<p class="product-detail-price">
								$<%= productToShow.price %>
							</p>
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%= productToShow.id %>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= productToShow.id %>/?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	
	<!-- /product detail -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
	<script src="path/to/dist/js/lightbox-plus-jquery.js"></script>
</body>	
</html>