<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {title: 'Login'}) %>
<body>
	<!-- Header -->
	<%- include('../partials/headerNavbar') %>
	<!-- /Header -->

    <div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Inicio de sesi칩n</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/users/login" method="POST">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="email" class="form-label">Email:</label>
						<input type="email" id="email" name="email" placeholder="Ej: juanperez@gmail.com" class="form-input" value="<%= userAttempt.email %>">
					</div>
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Contrase침a</label>
						<input type="password" id="password" name="password" placeholder="Contrase침a" class="form-input">
					</div>
                    <div class="validation-errors"><p><%=  errors.length != 0 ? 'El usuario y/o contrase침a no son correctos' : '' %></p></div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Igresar</button>
					</div>
				</div>
			</form>
		</div>
	</div>

    <!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->

</body>	
</html>